@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    font-family: "Kode Mono";
}
h1 {
    text-align: center;
    color: rgb(252, 12, 144);
}
img {
    border: solid 100px pink ;
    border-radius: 50%;
    margin-top: 50px ;
}
.jesse-img{
    display: grid;
    place-items: center;
}